# Exploratory Data Analysis on Google Playstore App

<img src="./image/image.webp" width="1500"/>

### Project Information

**Author Name**: Oyekanmi Lekan <br>
**Email**: oyekanmilekan@gmail.com <br>
**LinkedIn**: https://www.linkedin.com/in/olamilekan-oyekanmi/ <br>
**Date**: January 24, 2025 <br>

**Objective**

Conduct an Exploratory Data Analysis (EDA) on the Google Play Store dataset to uncover patterns, trends, and anomalies. This will involve:

- Data cleaning
- Documenting key observations to facilitate actionable insights

**Dataset**

The Data Set was downloaded from Kaggle, from the following [Google Playstore Dataset](https://www.kaggle.com/datasets/gauthamp10/google-playstore-apps/data)

**Analysis Questions**:
1. What are the top 10 Categories that are installed from the Google Play Store ?

2. Which are the Categories that are getting installed the most in top 10 Categories?

3. What is the higest rated Category ?

4. Which Category has the highest Paid and Free apps ?

5. How does the size of the Application impacts the Installation ?

6. What are the Top 5 Paid Apps based With highest ratings and installs ?

7. What are the Top 5 Free Apps based With highest ratings and installs ?

## 1.0 Import Libraries

In [1]:
# import necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# hide all warnings runtime
import warnings 
warnings.filterwarnings("ignore")

# Use for plot to show in a jupyter notebook instead of opening a new window for the plot
%matplotlib inline

## 2.0 Data Loading and Exploration
↪ Load the csv file into a pandas dataframe

↪ Explore the dataset to understand the structure and quality of the dataset

In [2]:
# link
# pd.read_csv(r"https://cdn.wsform.com/wp-content/uploads/2020/06/industry.csv")

In [3]:
# load dataset
df = pd.read_csv("Google-Playstore.csv")
df.head()

,App Name,App Id,Category,Rating,Rating Count,Installs,Minimum Installs,Maximum Installs,Free,Price,...,Developer Website,Developer Email,Released,Last Updated,Content Rating,Privacy Policy,Ad Supported,In App Purchases,Editors Choice,Scraped Time
0,Gakondo,com.ishakwe.gakondo,Adventure,0.0,0.0,10+,10.0,15,True,0.0,...,https://beniyizibyose.tk/#/,jean21101999@gmail.com,"Feb 26, 2020","Feb 26, 2020",Everyone,https://beniyizibyose.tk/projects/,False,False,False,2021-06-15 20:19:35
1,Ampere Battery Info,com.webserveis.batteryinfo,Tools,4.4,64.0,"5,000+",5000.0,7662,True,0.0,...,https://webserveis.netlify.app/,webserveis@gmail.com,"May 21, 2020","May 06, 2021",Everyone,https://dev4phones.wordpress.com/licencia-de-uso/,True,False,False,2021-06-15 20:19:35
2,Vibook,com.doantiepvien.crm,Productivity,0.0,0.0,50+,50.0,58,True,0.0,...,NaN,vnacrewit@gmail.com,"Aug 9, 2019","Aug 19, 2019",Everyone,https://www.vietnamairlines.com/vn/en/terms-an...,False,False,False,2021-06-15 20:19:35
3,Smart City Trichy Public Service Vehicles 17UC...,cst.stJoseph.ug17ucs548,Communication,5.0,5.0,10+,10.0,19,True,0.0,...,http://www.climatesmarttech.com/,climatesmarttech2@gmail.com,"Sep 10, 2018","Oct 13, 2018",Everyone,NaN,True,False,False,2021-06-15 20:19:35
4,GROW.me,com.horodyski.grower,Tools,0.0,0.0,100+,100.0,478,True,0.0,...,http://www.horodyski.com.pl,rmilekhorodyski@gmail.com,"Feb 21, 2020","Nov 12, 2018",Everyone,http://www.horodyski.com.pl,False,False,False,2021-06-15 20:19:35

* Let's start exploring the dataset by using different pandas function to get a general understanding of the data using functions like: `head`, `sample`, `shape`, `info`, `describe`, and some more

In [4]:
# Display the first five rows of the DataFrame
df.head()

,App Name,App Id,Category,Rating,Rating Count,Installs,Minimum Installs,Maximum Installs,Free,Price,...,Developer Website,Developer Email,Released,Last Updated,Content Rating,Privacy Policy,Ad Supported,In App Purchases,Editors Choice,Scraped Time
0,Gakondo,com.ishakwe.gakondo,Adventure,0.0,0.0,10+,10.0,15,True,0.0,...,https://beniyizibyose.tk/#/,jean21101999@gmail.com,"Feb 26, 2020","Feb 26, 2020",Everyone,https://beniyizibyose.tk/projects/,False,False,False,2021-06-15 20:19:35
1,Ampere Battery Info,com.webserveis.batteryinfo,Tools,4.4,64.0,"5,000+",5000.0,7662,True,0.0,...,https://webserveis.netlify.app/,webserveis@gmail.com,"May 21, 2020","May 06, 2021",Everyone,https://dev4phones.wordpress.com/licencia-de-uso/,True,False,False,2021-06-15 20:19:35
2,Vibook,com.doantiepvien.crm,Productivity,0.0,0.0,50+,50.0,58,True,0.0,...,NaN,vnacrewit@gmail.com,"Aug 9, 2019","Aug 19, 2019",Everyone,https://www.vietnamairlines.com/vn/en/terms-an...,False,False,False,2021-06-15 20:19:35
3,Smart City Trichy Public Service Vehicles 17UC...,cst.stJoseph.ug17ucs548,Communication,5.0,5.0,10+,10.0,19,True,0.0,...,http://www.climatesmarttech.com/,climatesmarttech2@gmail.com,"Sep 10, 2018","Oct 13, 2018",Everyone,NaN,True,False,False,2021-06-15 20:19:35
4,GROW.me,com.horodyski.grower,Tools,0.0,0.0,100+,100.0,478,True,0.0,...,http://www.horodyski.com.pl,rmilekhorodyski@gmail.com,"Feb 21, 2020","Nov 12, 2018",Everyone,http://www.horodyski.com.pl,False,False,False,2021-06-15 20:19:35

In [5]:
# Display a random sample of 10 rows from the DataFrame
df.sample(10)

,App Name,App Id,Category,Rating,Rating Count,Installs,Minimum Installs,Maximum Installs,Free,Price,...,Developer Website,Developer Email,Released,Last Updated,Content Rating,Privacy Policy,Ad Supported,In App Purchases,Editors Choice,Scraped Time
945753,hyena beauty animals good Wallpaper,com.hyeanawallpapers.hyean.hyanni.hayanx,Entertainment,0.0,0.0,10+,10.0,39,True,0.00,...,NaN,rodmigare.latrinahe046@gmail.com,"Mar 30, 2021","Mar 30, 2021",Everyone,https://sites.google.com/view/privacy-wallpape...,True,False,False,2021-06-16 11:27:55
97508,Oreo Z Flat Icon Pack,com.zoreo.icon.pack.pro,Personalization,4.2,111.0,"10,000+",10000.0,26888,False,0.99,...,https://plus.google.com/u/0/communities/108561...,furkanamm@gmail.com,"Feb 17, 2018","Mar 01, 2018",Everyone,NaN,False,False,False,2021-06-15 21:55:57
15171,Willie Jewell's,com.totalloyalty.williejewell349680,Food & Drink,3.5,12.0,"5,000+",5000.0,5325,True,0.00,...,http://www.totalloyalty.com,developer@totalloyalty.com,"Jul 14, 2017","Apr 28, 2021",Everyone,http://www.totalloyalty.com/privacy-policy,False,False,False,2021-06-15 20:34:19
1929327,Sikh Aarti Audio,com.webtapps.sikh_aarti_audio,Books & Reference,4.3,11.0,"1,000+",1000.0,4135,True,0.00,...,NaN,webtapps@gmail.com,"Jan 24, 2018","Aug 20, 2018",Everyone,https://sites.google.com/view/webtapps/privacy...,True,False,False,2021-06-16 07:24:22
945476,Aix-en-Provence Le Mag,com.sjcom.aixLeMag,News & Magazines,4.4,5.0,"1,000+",1000.0,1446,True,0.00,...,http://mairie-aixenprovence.fr/,mobile.aixenprovence@gmail.com,"May 9, 2016","Jun 16, 2016",Everyone,http://www.sjcom.fr/policy/flippad/,False,False,False,2021-06-16 11:27:38
906744,HUDDLE,com.pressmatrix.huddle,News & Magazines,0.0,0.0,50+,50.0,94,True,0.00,...,http://www.football-aktuell.de,info@football-aktuell.de,"Jan 21, 2019","Jan 21, 2019",Everyone,http://www.football-aktuell.de/cgi-bin/contain...,True,True,False,2021-06-16 10:51:52
1965260,Klinik Pengawasan,id.bmkg.klinikpengawasan,Communication,4.2,12.0,100+,100.0,288,True,0.00,...,http://inspektorat.bmkg.go.id,klinikpengawasan@bmkg.go.id,"Oct 29, 2019","Oct 30, 2019",Everyone,https://www.bmkg.go.id,False,False,False,2021-06-16 07:55:38
2083552,Lionel Messi LockScreen,com.pulgafcbmessi.hopelock,Lifestyle,4.1,98.0,"10,000+",10000.0,22455,True,0.00,...,NaN,locksecure11@gmail.com,"Jun 15, 2019","Jun 15, 2019",Everyone,https://sites.google.com/view/locksecure11/home,True,False,False,2021-06-16 09:39:04
970372,Alp Doner Kebab,com.ultimatumapp.alpdonerkebab,Shopping,3.9,7.0,100+,100.0,401,True,0.00,...,http://www.ultimatumapp.nl,info@ultimatumapp.nl,NaN,"Oct 11, 2018",Everyone,http://ultimatumapp.nl/privacy-agreement/,False,False,False,2021-06-16 11:50:48
1410728,Moon Wallpapers,com.sangam.moon.wallpapers,Personalization,4.6,19.0,"1,000+",1000.0,3079,True,0.00,...,NaN,askndria@gmail.com,"Jun 21, 2015","Jun 21, 2015",Everyone,https://docs.google.com/document/d/1WF4Yw34q1W...,True,False,False,2021-06-15 23:56:03

In [6]:
# let check the shape of the dataset 
print(f"The dataset contains {df.shape[0]} rows and {df.shape[1]} columns")

The dataset contains 2312944 rows and 24 columns

In [7]:
# lets check columns 
df.columns

Index(['App Name', 'App Id', 'Category', 'Rating', 'Rating Count', 'Installs',
       'Minimum Installs', 'Maximum Installs', 'Free', 'Price', 'Currency',
       'Size', 'Minimum Android', 'Developer Id', 'Developer Website',
       'Developer Email', 'Released', 'Last Updated', 'Content Rating',
       'Privacy Policy', 'Ad Supported', 'In App Purchases', 'Editors Choice',
       'Scraped Time'],
      dtype='object')

In [8]:
# lets check info of the dataset 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2312944 entries, 0 to 2312943
Data columns (total 24 columns):
 #   Column             Dtype
---  ------             -----
 0   App Name           object
 1   App Id             object
 2   Category           object
 3   Rating             float64
 4   Rating Count       float64
 5   Installs           object
 6   Minimum Installs   float64
 7   Maximum Installs   int64
 8   Free               bool
 9   Price              float64
 10  Currency           object
 11  Size               object
 12  Minimum Android    object
 13  Developer Id       object
 14  Developer Website  object
 15  Developer Email    object
 16  Released           object
 17  Last Updated       object
 18  Content Rating     object
 19  Privacy Policy     object
 20  Ad Supported       bool
 21  In App Purchases   bool
 22  Editors Choice     bool
 23  Scraped Time       object
dtypes: bool(4), float64(4), int64(1), object(15)
memory usage: 361.8+ MB

In [9]:
# lets check the summary of the dataset
df.describe()

,Rating,Rating Count,Minimum Installs,Maximum Installs,Price
count,2.290061e+06,2.290061e+06,2.312837e+06,2.312944e+06,2.312944e+06
mean,2.203152e+00,2.864839e+03,1.834452e+05,3.202017e+05,1.034992e-01
std,2.106223e+00,2.121626e+05,1.513144e+07,2.355495e+07,2.633127e+00
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,0.000000e+00,0.000000e+00,5.000000e+01,8.400000e+01,0.000000e+00
50%,2.900000e+00,6.000000e+00,5.000000e+02,6.950000e+02,0.000000e+00
75%,4.300000e+00,4.200000e+01,5.000000e+03,7.354000e+03,0.000000e+00
max,5.000000e+00,1.385576e+08,1.000000e+10,1.205763e+10,4.000000e+02

In [10]:
# lets check dulplicates
df.duplicated().sum()

0

#### Missing Data Profile

In [11]:
df.isnull().sum().values

array([     5,      0,      0,  22883,  22883,    107,    107,      0,
            0,      0,    135,    196,   6530,     33, 760835,     31,
        71053,      0,      0, 420953,      0,      0,      0,      0],
      dtype=int64)

In [12]:
# list columns of the DataFrame
columns = df.columns.to_list()

# Determine the count of missing values in each column of the DataFrame
missing_counts = df.isnull().sum()

# Calculate the percentage of missing values in each column of the DataFrame
percent_missing_count = round((df.isnull().sum() / df.shape[0])*100,5)

missing_report = {
    "Columns": columns,
    "Missing Count": missing_counts.values,
    "Missing Percent": percent_missing_count.values
}

missing_report_df = pd.DataFrame(missing_report)  # create a dataframe report about the missing data
missing_report_df

              Columns  Missing Count  Missing Percent
0            App Name              5          0.00022
1              App Id              0          0.00000
2            Category              0          0.00000
3              Rating          22883          0.98935
4        Rating Count          22883          0.98935
5            Installs            107          0.00463
6    Minimum Installs            107          0.00463
7    Maximum Installs              0          0.00000
8                Free              0          0.00000
9               Price              0          0.00000
10           Currency            135          0.00584
11               Size            196          0.00847
12    Minimum Android           6530          0.28232
13       Developer Id             33          0.00143
14  Developer Website         760835         32.89466
15    Developer Email             31          0.00134
16           Released          71053          3.07197
17       Last Updated              0          0.00000
18     Content Rating              0          0.00000
19     Privacy Policy         420953         18.19988
20       Ad Supported              0          0.00000
21   In App Purchases              0          0.00000
22     Editors Choice              0          0.00000
23       Scraped Time              0          0.00000

#### Data Inspection Observations:
<hr>

1. There are `2312944` rows and `24` columns in the dataset
2. There is no duplicates in the data.
3. The columns are of different data types
4. The columns in the datasets are:
   * `App Name`, `App Id`, `Category`, `Rating`, `Rating Count`, `Installs`, `Minimum Installs`, `Maximum Installs`, `Free`, `Price`,
     `Currency`, `Size`, `Minimum Android`, `Developer Id`, `Developer Website`, `Developer Email`, `Released`, `Last Updated`, `Content
     Rating`, `Privacy Policy`, `Ad Supported`, `In App Purchases`, `Editors Choice`, `Scraped Time`.
5. dtypes: bool = 4, float64 = 4, int64 = 1, object = 15
6. There are some missing values in the dataset which we will read in details and deal later on in the notebook.
   * `Developer Website` have almost 33% and `Privacy Policy` have almost 18% of missing values
7. Few columns need to be remove as they do not contribute to the overall results of the dataset
   like: `App Id`, `Developer Id`, `Developer Website`, `Developer Email`, `Privacy Policy`, `Editors
   Choice`, `Minimum Android` & `Scraped Time`
9. There are some columns which are of object data type but they should be of numeric data type, we will
    convert them later on in the notebook.
   * `Installs & Size`

## 3.0 Data Cleaning

#### - Drop the columns that are not important

In [13]:
# Drop unnecessary columns from the DataFrame
df.drop(columns = ['App Id', 'Developer Id', 'Developer Website', 'Developer Email', 
              'Privacy Policy', 'Editors Choice', 'Minimum Android', 'Scraped Time'], 
        axis='columns',
       inplace=True)

#### - Rename columns

In [14]:
# anonymous function /no name

def hello():
    print("Hello World")

hello()

Hello World

In [15]:
greeting = lambda x: print(f"My value is: {x}")
greeting(6)

My value is: 6

In [16]:
# df.rename(columns={"App Name":"app_name",
#                   "Category":"category",
#                   "Rating Count":"rating_count"})

In [17]:
# Rename columns by converting them to lowercase, removing leading/trailing whitespaces, and replacing spaces with underscores
df.rename(lambda x: x.lower().strip().replace(' ', '_'), axis='columns', inplace=True)

In [18]:
df.columns

Index(['app_name', 'category', 'rating', 'rating_count', 'installs',
       'minimum_installs', 'maximum_installs', 'free', 'price', 'currency',
       'size', 'released', 'last_updated', 'content_rating', 'ad_supported',
       'in_app_purchases'],
      dtype='object')

#### - Deal with missing values and inconsistencies

**App Name**

In [19]:
# check the number of missing values
df["app_name"].isnull().sum()

5

In [20]:
# remove that row in App Name column that has missing values
df.dropna(subset=['app_name'], inplace=True)

In [21]:
df["app_name"].isnull().sum()

0

**Rating**

For Rating we will replace the respective missing values of Rating, with respect of the average rating of their 'Category'

In [22]:
df["rating"].isnull().sum()

22883

In [23]:
# Calculate the average rating in each 'Category'
average_rating_by_category = df.groupby('category')['rating'].mean().reset_index()
average_rating_by_category

                   category    rating
0                    Action  2.705979
1                 Adventure  2.814991
2                    Arcade  2.450405
3              Art & Design  1.952354
4           Auto & Vehicles  2.049613
5                    Beauty  1.434105
6                     Board  2.782275
7         Books & Reference  2.467159
8                  Business  1.439082
9                      Card  3.085160
10                   Casino  3.279682
11                   Casual  2.425160
12                   Comics  2.864906
13            Communication  2.122591
14                   Dating  2.452001
15                Education  2.246840
16              Educational  2.437742
17            Entertainment  2.435346
18                   Events  1.270809
19                  Finance  2.403102
20             Food & Drink  1.294563
21         Health & Fitness  1.623777
22             House & Home  1.485381
23         Libraries & Demo  2.087115
24                Lifestyle  1.930376
25        Maps & Navigation  2.224805
26                  Medical  1.848003
27                    Music  2.662008
28            Music & Audio  2.226841
29         News & Magazines  2.483768
30                Parenting  2.423273
31          Personalization  2.758754
32              Photography  2.519765
33             Productivity  1.937928
34                   Puzzle  2.688279
35                   Racing  2.960385
36             Role Playing  3.384498
37                 Shopping  1.837001
38               Simulation  3.210887
39                   Social  2.398867
40                   Sports  2.315545
41                 Strategy  2.878900
42                    Tools  2.346080
43           Travel & Local  1.921196
44                   Trivia  2.526178
45  Video Players & Editors  2.903842
46                  Weather  3.120295
47                     Word  2.902076

In [24]:
# Calculate the average rating in each 'Category'
average_ratings = df.groupby('category')['rating'].transform('mean')

In [25]:
# Replace missing values in 'Rating' with the respective average ratings of their Category
df['rating'] = df['rating'].fillna(average_ratings)

**Rating Count**

For rating_count we will replace the respective missing values of rating_count, with respect of the average rating count of their 'Category'

In [26]:
df['rating_count'].isnull().sum()

22883

In [27]:
# Calculate the average rating in each 'Category'
average_rating_count = df.groupby('category')['rating_count'].transform('mean')

# Replace missing values in 'Rating' with the respective average ratings of their Category
df['rating_count'] = df['rating_count'].fillna(average_rating_count)

**Installs**

In [28]:
df['installs'].isnull().sum()

107

In [29]:
# Count the occurrences of each unique value in the 'installs' column using value_counts()
df['installs'].unique()

array(['10+', '5,000+', '50+', '100+', '1,000+', '500+', '50,000+',
       '10,000+', '1+', '500,000+', '100,000+', '5+', '10,000,000+',
       '1,000,000+', '5,000,000+', '0+', '100,000,000+', nan,
       '50,000,000+', '1,000,000,000+', '500,000,000+', '5,000,000,000+',
       '10,000,000,000+'], dtype=object)

In [30]:
# lets remove the null values in the installs column 
df.dropna(subset=['installs'], inplace=True)

In [31]:
# remove the plus sign from install column and convert it to numeric
df['installs'] = df['installs'].str.replace(',', '').str.replace('+', '')

In [32]:
df['installs'].unique()

array(['10', '5000', '50', '100', '1000', '500', '50000', '10000', '1',
       '500000', '100000', '5', '10000000', '1000000', '5000000', '0',
       '100000000', '50000000', '1000000000', '500000000', '5000000000',
       '10000000000'], dtype=object)

In [33]:
# Convert the 'installs' column to numeric
# the errors='coerce' parameter will replace non-convertible values with NaN

# df["installs"].astype("int64")

df['installs'] = pd.to_numeric(df['installs'], errors='coerce').astype('Int64')

In [34]:
df['installs'].unique().tolist()

[10,
 5000,
 50,
 100,
 1000,
 500,
 50000,
 10000,
 1,
 500000,
 100000,
 5,
 10000000,
 1000000,
 5000000,
 0,
 100000000,
 50000000,
 1000000000,
 500000000,
 5000000000,
 10000000000]

**Currency**

In [35]:
df["currency"].isnull().sum()

28

In [36]:
df["currency"].unique()

array(['USD', 'XXX', 'CAD', 'EUR', 'INR', 'VND', 'GBP', 'BRL', 'KRW', nan,
       'TRY', 'RUB', 'SGD', 'AUD', 'PKR', 'ZAR'], dtype=object)

In [37]:
# Drop rows with missing values in 'currency' column
df.dropna(subset=['currency'], inplace=True)

**Size**

In [38]:
df["size"].isnull().sum()

195

In [39]:
print(df["size"].unique().tolist())

['10M', '2.9M', '3.7M', '1.8M', '6.2M', '46M', '2.5M', '16M', '1.3M', '3.5M', '51M', '2.7M', '7.6M', '15M', '29M', '12M', '2.0M', '70M', '11M', '24M', '1.4M', '20M', '2.4M', '25M', '21M', '36M', '6.1M', '2.6M', '8.9M', '3.9M', '30M', '26M', '4.9M', '4.3M', '4.8M', '4.6M', '2.8M', '38M', '5.1M', '147M', '33M', '2.2M', '7.1M', '27M', '18M', '7.7M', '32M', '19M', '39M', '31M', '1.2M', '3.1M', '3.2M', '42M', '22M', '4.1M', '50M', '5.5M', '127k', '8.4M', '41M', '49M', '7.0M', '4.7M', '43M', '5.4M', '3.0M', '1.6M', '2.1M', '37M', '3.6M', '9.0M', '9.9M', '67M', '28M', 'Varies with device', '7.9M', '3.3M', '6.0M', '5.7M', '9.8M', '5.0M', '1.7M', '7.4M', '1.9M', '3.8M', '6.4M', '8.1M', '6.5M', '4.4M', '45M', '7.2M', '13M', '6.9M', '60M', '6.6M', '4.0M', '17M', '4.2M', '58M', '93M', '9.7M', '23M', '52M', '5.6M', '48M', '1.5M', '8.5M', '54M', '62M', '133M', '64M', '152M', '136M', '9.5M', '4.5M', '40M', '531k', '8.0M', '2.3M', '35M', '83M', '7.3M', '6.7M', '9.4M', '69M', '7.5M', '343k', '84M', '5.9M', '6.3M', '1,018k', '34M', '63M', '3.4M', '57M', '14M', '86M', '9.2M', '142M', '6.8M', '9.1M', '9.6M', '44M', '1.0M', '886k', '53M', '91M', '61M', '5.2M', '188k', '5.3M', '8.3M', '8.2M', '79M', '9.3M', '47M', '107M', '8.6M', '95M', '56M', '5.8M', '71M', '78M', '7.8M', '59M', '72M', '8.7M', '200k', '92k', '75M', '966k', '844k', '963k', '151M', '274k', '145M', '8.8M', '82M', '10.0M', '66M', '240k', '101M', '76M', '96M', '139M', '212k', '101k', '125M', '111M', '1.1M', '116M', '94M', '99M', '194k', '89M', '55M', '506k', '85M', '98M', '122M', '88M', '77M', '138k', '659k', '880k', '106M', '87M', '230k', '97M', '989k', '453k', '201M', '28k', '562k', '745k', '68M', '118M', '357k', '74M', '600k', '22k', '73M', '144M', '33k', '250M', '359k', '81M', '112M', '298k', '351k', '1,007k', '145k', '936k', '65M', '25k', '986k', '512k', '102M', '842k', '962k', '497k', '321k', '565k', '946k', '222k', '998k', '82k', '105M', '257k', '390k', '18k', '100M', '727k', '176k', '113M', '531M', '120M', '229k', '141M', '130M', '92M', '90M', '150k', '150M', '136k', '80M', '156M', '449k', '121M', '945k', '969k', '329k', '243k', '143M', '574k', '261k', '917k', '742k', '137M', '159M', '760k', '48k', '815k', '629k', '422M', '77k', '393k', '895k', '813k', '149M', '266k', '134M', '786k', '687k', '251k', '259k', '221k', '803k', '224k', '898k', '66k', '128M', '476k', '253k', '124k', '214k', '24k', '230M', '163k', '1,019k', '228k', '420k', '103M', '631k', '990k', '801k', '57k', '389k', '563k', '205k', '21k', '146M', '567k', '344k', '94k', '750k', '407k', '114M', '912k', '138M', '889k', '445k', '117M', '571k', '810k', '318k', '50k', '805k', '110M', '130k', '743k', '158M', '894k', '808k', '148M', '127M', '588k', '269k', '738k', '109M', '382k', '501k', '282k', '153M', '260k', '405k', '543k', '924k', '162M', '837k', '823k', '826k', '244k', '663k', '119M', '379k', '132M', '595k', '234k', '165M', '104M', '761k', '872k', '143k', '528k', '774k', '648k', '123k', '879k', '433k', '461k', '818k', '140M', '877k', '505k', '901k', '170k', '717k', '106k', '255k', '1,014k', '477k', '316k', '216k', '123M', '723k', '935k', '124M', '1,020k', '173M', '293M', '273k', '256k', '866k', '174M', '918k', '647k', '154k', '157M', '286k', '395k', '573k', '140k', '315k', '827k', '906k', '492k', '934k', '790k', '862k', '135M', '167M', '184M', '755k', '385k', '737k', '86k', '177k', '335M', '79k', '228M', '114k', '188M', '429k', '650k', '980k', '939k', '988k', '129M', '198k', '519k', '762k', '620k', '724k', '132k', '591k', '129k', '154M', '1,002k', '959k', '444k', '757k', '160M', '495k', '164M', '920k', '15k', '721k', '977k', '665k', '941k', '108M', '539k', '12k', '479k', '89k', '510M', '277k', '973k', '697k', '67k', '667k', '346k', '199k', '511k', '617k', '954k', '474k', '548k', '278k', '515k', '131M', '678k', '36k', '483k', '69k', '147k', '876k', '1,022k', '850k', '645k', '394k', '30k', '184k', '176M', '521k', '179k', '243M', '354k', '335k', '749k', '215k', '76k', '885k', '236k', '1,010k', '392k', '994k', '166k', '630k', '117k', '607k', '652k', '218k', '83k', '960k', '968k', '115M', '770k', '206M', '68k', '360k', '848k', '387k', '207k', '457k', '263k', '692k', '220k', '108k', '103k', '896k', '166M', '791k', '58k', '250k', '942k', '851k', '254k', '248M', '536k', '121k', '194M', '578k', '658k', '708k', '589k', '334k', '417k', '41k', '802k', '59k', '922k', '580k', '338k', '674k', '210M', '32k', '42k', '897k', '187M', '753k', '553k', '500k', '219k', '411k', '641k', '892k', '608k', '975k', '414k', '525k', '1,001k', '189k', '178k', '231M', '31k', '759k', '342k', '958k', '919k', '599k', '478k', '157k', '177M', '991k', '305k', '637k', '291k', '893k', '63k', '320k', '1,012k', '765k', '661k', '202M', '871k', '726k', '793k', '830k', '822k', '17k', '1,000k', '180M', '710k', '413k', '763k', '694k', '339k', '853k', '54k', '384k', '284k', '967k', '615k', '540k', '373k', '107k', '514k', '193k', '955k', '736k', '88k', '185M', '646k', '824k', '950k', '785k', '336k', '952k', '292k', '943k', '246k', '719k', '198M', '109k', '61k', '582k', '722M', '937k', '65k', '181k', '155M', '858k', '602k', '11k', '550k', '175k', '29k', '1,023k', '997k', '716k', '834k', '258k', '756k', '927k', '173k', '825k', '700k', '769k', '452k', '110k', '300k', '303k', '463k', '186k', '402k', '44k', '878k', '705k', '778k', '739k', '434k', '189M', '541k', '418k', '794k', '538k', '378k', '227k', '362k', '181M', '764k', '740k', '817k', '549k', '237k', '153k', '881k', '337M', '888k', '672k', '126M', '400k', '164k', '706k', '49k', '287k', '926k', '206k', '729k', '779k', '579k', '404k', '856k', '149k', '209M', '978k', '26k', '287M', '152k', '552k', '233k', '656k', '914k', '933k', nan, '846k', '529k', '485k', '183M', '155k', '800k', '170M', '498k', '611k', '722k', '95k', '113k', '45k', '693k', '280M', '561k', '784k', '191M', '606k', '178M', '331k', '520k', '174k', '780k', '118k', '592k', '141k', '47k', '1,011k', '544k', '701k', '746k', '135k', '53k', '491k', '238k', '375k', '849k', '304k', '216M', '241k', '224M', '450k', '984k', '744k', '586k', '361k', '72k', '861k', '459k', '84k', '40k', '85k', '857k', '649k', '730k', '364M', '172M', '165k', '367k', '618k', '1,015k', '365k', '911k', '905k', '383k', '131k', '720k', '251M', '577k', '523k', '468k', '733k', '192k', '190M', '81k', '306k', '122k', '634k', '410k', '908k', '831k', '353k', '545k', '195k', '272k', '159k', '339M', '73k', '281k', '440k', '455k', '270k', '704k', '712k', '654k', '196M', '466k', '397k', '126k', '146k', '627k', '987k', '619k', '932k', '99k', '343M', '158k', '264k', '197M', '972k', '350k', '279k', '19k', '999k', '156k', '381k', '494k', '100k', '257M', '235k', '782k', '245k', '923k', '944k', '601k', '751k', '1,021k', '195M', '200M', '13k', '212M', '96k', '311k', '252k', '662k', '37k', '151k', '533k', '499k', '271k', '169k', '239k', '199M', '326k', '707k', '836k', '904k', '137k', '513k', '171M', '612k', '931k', '587k', '422k', '312k', '671k', '664k', '182M', '386k', '621k', '283k', '179M', '542k', '409k', '585k', '330k', '203k', '655k', '52k', '299k', '489k', '426k', '115k', '921k', '614k', '983k', '91k', '248k', '554k', '811k', '323k', '406k', '623k', '981k', '993k', '695k', '14k', '371k', '852k', '168k', '325k', '467M', '928M', '670k', '796k', '39k', '516k', '341k', '460k', '358k', '64k', '597k', '70k', '636k', '890k', '337k', '366k', '868k', '676k', '486k', '388k', '613k', '203M', '685k', '635k', '226k', '16k', '268k', '509M', '197k', '1,008k', '974k', '111k', '218M', '875k', '504k', '266M', '46k', '408k', '558k', '470k', '231k', '787k', '660k', '451k', '190k', '713k', '847k', '863k', '900k', '568k', '518k', '462k', '788k', '964k', '416k', '992k', '202k', '867k', '728k', '534k', '572k', '265k', '376k', '419k', '956k', '718k', '930k', '210k', '332k', '698k', '473k', '175M', '421k', '355k', '979k', '843k', '38k', '256M', '234M', '530k', '372k', '575k', '860k', '776k', '163M', '970k', '464k', '102k', '696k', '374k', '289k', '161M', '806k', '23k', '116k', '884k', '322k', '424k', '396k', '546k', '633k', '458k', '482k', '391k', '916k', '249k', '191k', '377k', '1,006M', '789k', '319k', '559k', '51k', '436k', '625k', '472k', '845k', '27k', '1,006k', '870k', '527k', '616k', '456k', '598k', '34k', '679k', '74k', '275k', '288k', '427k', '193M', '208k', '883k', '213k', '699k', '105k', '961k', '324k', '182k', '276k', '1,009k', '215M', '605k', '965k', '976k', '547k', '996k', '242k', '773k', '681k', '596k', '706M', '702k', '332M', '747k', '441k', '399k', '423k', '90k', '873k', '799k', '887k', '225k', '985k', '262k', '185k', '626k', '854k', '995k', '120k', '139k', '560k', '1.5G', '370k', '828k', '953k', '508k', '929k', '403k', '223k', '604k', '677k', '833k', '502k', '814k', '771k', '798k', '369k', '855k', '490k', '565M', '398k', '298M', '213M', '590k', '734k', '902k', '948k', '310k', '475k', '71k', '275M', '807k', '910k', '510k', '686k', '183k', '809k', '55k', '535k', '308M', '471k', '180k', '142k', '947k', '320M', '98k', '172k', '752k', '168M', '368k', '481k', '732k', '610k', '1,004k', '285k', '865k', '285M', '3.3k', '643k', '160k', '951k', '317k', '443k', '509k', '971k', '235M', '201k', '496k', '731k', '569k', '162k', '715k', '437k', '207M', '204M', '594k', '4.7k', '819k', '296k', '233M', '690k', '448k', '832k', '524k', '982k', '772k', '925k', '187k', '280k', '526k', '104k', '622k', '957k', '232k', '265M', '949k', '211k', '675k', '835k', '169M', '254M', '43k', '566k', '20k', '656M', '891k', '768k', '503k', '364k', '284M', '1,013k', '301k', '668k', '327k', '673k', '666k', '192M', '161k', '186M', '532k', '1,016k', '507k', '432k', '6.4k', '838k', '209k', '269M', '564k', '249M', '1,017k', '428k', '909k', '638k', '581k', '56k', '820k', '781k', '859k', '435k', '4.6k', '804k', '297k', '167k', '940k', '570k', '651k', '75k', '6.3k', '78k', '446k', '217k', '709k', '792k', '882k', '840k', '238M', '60k', '348k', '864k', '35k', '338M', '255M', '689k', '349k', '148k', '247k', '313k', '112k', '609k', '293k', '431k', '97k', '624k', '735k', '62k', '299M', '703k', '766k', '252M', '309k', '1,024k', '775k', '783k', '915k', '290k', '10k', '711k', '133k', '557k', '227M', '669k', '328k', '430k', '913k', '841k', '380k', '294k', '412k', '584k', '345k', '425k', '797k', '758k', '262M', '398M', '593k', '302k', '221M', '128k', '628k', '415k', '288M', '442k', '642k', '239M', '741k', '829k', '306M', '493k', '448M', '356k', '261M', '682k', '522k', '324M', '214M', '465k', '640k', '469k', '401k', '812k', '501M', '632k', '657k', '314k', '277M', '267k', '454k', '653k', '360M', '583k', '907k', '237M', '333k', '196k', '80k', '282M', '171k', '985M', '268M', '352k', '869k', '1,005k', '412M', '644k', '508M', '219M', '683k', '691k', '1,003k', '439k', '928k', '556k', '938k', '258M', '9.6k', '276M', '487k', '551k', '144k', '93k', '333M', '295k', '1,020M', '618M', '488k', '874k', '253M', '307k', '841M', '903k', '119k', '313M', '87k', '839k', '576M', '6.1k', '690M', '899k', '748k', '225M', '821k', '347k', '7.8k', '684k', '767k', '304M', '832M', '484k', '10.0k', '8.4k', '297M', '308k', '639k', '1.1G', '777k', '603M', '3.4k', '576k', '134k', '680k', '688k', '490M', '725k', '363k', '226M', '447k', '714k', '954M', '290M', '244M', '497M', '816k', '480k', '517k', '264M', '314M', '295M', '643M', '205M', '456M', '493M', '9.2k', '270M', '603k', '321M', '9.0k', '414M', '754k', '925M', '208M', '245M', '8.5k', '211M', '274M', '555k', '330M', '795k', '537k', '391M', '645M', '652M', '420M', '217M', '467k', '348M', '294M', '447M', '272M', '125k', '383M', '919M', '241M', '204k', '220M', '904M', '222M', '246M', '595M', '1.0G', '485M', '319M', '900M', '361M', '345M', '247M', '7.2k', '895M', '9.7k', '406M', '438k', '309M', '286M', '311M', '322M', '6.8k', '328M', '303M', '331M', '312M', '279M', '818M', '323M', '649M', '317M', '240M', '229M', '300M', '242M', '359M', '495M', '935M', '260M', '564M', '291M', '363M', '375M', '8.9k', '518M', '762M', '7.1k', '491M', '372M', '676M', '684M', '579M', '550M', '9.8k', '407M', '591M', '344M', '232M', '418M', '263M', '7.4k', '346M', '460M', '267M', '843M', '8.7k', '283M', '353M', '784M', '340k', '223M', '385M', '236M', '567M', '7.6k', '868M', '578M', '9.5k', '445M', '351M', '281M', '310M', '292M', '9.1k', '878M', '289M', '544M', '426M', '9.9k', '681M', '347M', '454M', '5.8k', '327M', '606M', '352M', '940M', '390M', '271M', '765M', '6.9k', '566M', '664M', '411M', '680M', '305M', '514M', '409M', '273M', '639M', '296M', '963M', '421M', '457M', '387M', '381M', '318M', '953M', '437M', '611M', '371M', '396M', '377M', '896M', '415M', '468M', '590M', '355M', '593M', '424M', '646M', '527M', '366M', '488M', '301M', '397M', '745M', '465M', '503M', '570M', '869M', '329M', '373M', '340M', '408M', '302M', '705M', '7.7k', '369M', '440M', '679M', '568M', '519M', '580M', '977M', '959M', '981M', '9.3k', '259M', '526M', '379M', '623M', '619M', '278M', '521M', '315M', '844M', '889M', '996M', '365M', '431M', '581M', '334M', '962M', '541M', '799M', '5.1k', '342M', '370M', '532M', '382M', '442M', '737M', '866M', '394M', '914M', '691M', '725M', '461M', '633M', '349M', '700M', '356M', '5.3k', '720M', '744M', '429M', '533M', '8.3k', '810M', '404M', '354M', '769M', '692M', '839M', '830M', '6.2k', '712M', '470M', '910M', '405M', '3.2k', '512M']

**Observations**:
* There are several uniques values in the size column, we have to first make the unit into one common unit from M and G to K, and then remove the G ,M, and K, and from the values and convert them into numeric data type. Varies with device into NaN

* Here, we also notice that some values have , which make it difficult to convert them into bytes so first we remove these commas also

In [40]:
# find the values in size column which has 'G' in it
df['size'].loc[(df['size'].str.contains('G')) & (~df['size'].isna())].value_counts().sum()

13

In [41]:
# find the values in size column which has 'M' in it
df['size'].loc[(df['size'].str.contains('M')) & (~df['size'].isna())].value_counts().sum()

2201639

In [42]:
# find the values in size column which has 'k' in it
df['size'].loc[(df['size'].str.contains('k')) & (~df['size'].isna())].value_counts().sum()

36251

In [43]:
# find the values in size column which has 'Varies with device' in it
df['size'].loc[(df['size'].str.contains('Varies with device')) & (~df['size'].isna())].value_counts().sum()

74706

* Let's convert the G and M units into k and then remove the G, M and k from the values and convert them into numeric data type.

In [44]:
df["size"]

0           10M
1          2.9M
2          3.7M
3          1.8M
4          6.2M
           ...
2312939     77M
2312940     44M
2312941     29M
2312942     10M
2312943    5.2M
Name: size, Length: 2312804, dtype: object

In [45]:
# Define a function to convert the 'size' column to numeric
def convert_size(size_value):
    # add function details here
    '''
    This function will convert the size column to numeric by multiplying 
    the values with 1024 if it has 'M' in it and 1024*1024 if it has 'G' in it
    If 'Varies with device' is present, it returns NaN.
    '''

    if isinstance(size_value, str):
        # Remove commas from the size values
        size_value= size_value.replace(',','')
        
        if 'k' in size_value:
            # Convert to float and remove 'k'
            return float(size_value.replace('k', ''))
        elif 'M' in size_value:
            # Convert to float, remove 'M', and multiply by 1024
            return float(size_value.replace('M', '')) * 1024
        elif 'G' in size_value:
            # Convert to float, remove 'G', and multiply by 1024*1024
            return float(size_value.replace('G', '')) * 1024 * 1024
        elif 'Varies with device' in size_value:
            # If 'Varies with device' is present, return NaN
            return np.nan
    return size_value

In [46]:
# Apply the conversion function to the 'size' column in the DataFrame
df['size'] = df['size'].apply(convert_size)

In [47]:
# rename the column name 'Size' to 'Size_in_bytes'
df.rename(columns={'size': 'size_in_KB'}, inplace=True)

* For size_in_KB we will replace the respective missing values of size_in_KB, with respect of the average size of their 'Category'

In [48]:
df['size_in_KB'].isnull().sum()

74901

In [49]:
# Calculate the average rating in each 'Category'
average_size_KB = df.groupby('category')['size_in_KB'].transform('mean')

# Replace missing values in 'Rating' with the respective average ratings of their Category
df['size_in_KB'] = df['size_in_KB'].fillna(average_size_KB)

**Released**

In [50]:
df["released"]

0          Feb 26, 2020
1          May 21, 2020
2           Aug 9, 2019
3          Sep 10, 2018
4          Feb 21, 2020
               ...
2312939             NaN
2312940    Jan 17, 2018
2312941    Aug 19, 2018
2312942     Aug 1, 2016
2312943     Aug 9, 2019
Name: released, Length: 2312804, dtype: object

In [51]:
df["released"].isnull().sum()

70951

In [52]:
df["released"].unique()

array(['Feb 26, 2020', 'May 21, 2020', 'Aug 9, 2019', ..., 'Jun 10, 2010',
       'Apr 10, 2010', 'Mar 29, 2010'], dtype=object)

In [53]:
# Drop rows with missing values in 'released' column
df.dropna(subset=['released'], inplace=True)

In [54]:
# convert datatypes to date
df["released"] = pd.to_datetime(df["released"])

**Price**

In [55]:
df["price"].isnull().sum()

0

In [56]:
df["currency"].unique()

array(['USD', 'XXX', 'CAD', 'EUR', 'INR', 'VND', 'GBP', 'BRL', 'KRW',
       'TRY', 'SGD', 'AUD', 'ZAR'], dtype=object)

In [57]:
df["price"].dtype

dtype('float64')

In [58]:
# conversion rates to USD
conversion_rate_to_usd = {
    "CAD": 0.70,
    "EUR": 1.05,
    "INR": 0.012,
    "VND": 0.000040,
    "GBP": 1.24,
    "BRL": 0.17,
    "KRW": 0.00070,
    "TRY": 0.028,
    "SGD": 0.74,
    "AUD": 0.63,
    "ZAR": 0.055,    
}

# to convert each price to USD base on the currency
def convert_to_usd(row):
    rate = conversion_rate_to_usd.get(row["currency"], 1)
    return row["price"] * rate

In [59]:
df["price_in_usd"] = df.apply(convert_to_usd, axis=1)

## 4.0 Feature Engineering
- Feature Extraction
- Feature Deletion

#### - Create a Column `Installs Category`

In [60]:
df['installs']

0            10
1          5000
2            50
3            10
4           100
           ...
2312938    1000
2312940     100
2312941     100
2312942    1000
2312943     100
Name: installs, Length: 2241853, dtype: Int64

In [61]:
# Count the occurrences of each unique value in the 'installs' column and display the result
df['installs'].unique().tolist()

[10,
 5000,
 50,
 100,
 1000,
 500,
 50000,
 10000,
 1,
 500000,
 100000,
 5,
 10000000,
 1000000,
 5000000,
 0,
 100000000,
 50000000,
 1000000000,
 500000000,
 5000000000,
 10000000000]

In [62]:
# create a function to label each install category
def install_category_label(value):
    if value >= 0 and value <= 10:
        return "0-10"
    elif value >= 10 and value <= 100:
        return "10-100"
    elif value >= 100 and value <= 1000:
        return "100-1K"
    elif value >= 1000 and value <= 10000:
        return "1K-10K"
    elif value >= 10000 and value <= 100000:
        return "10K-100K"
    elif value >= 100000 and value <= 1000000:
        return "100K-1M"
    elif value >= 1000000 and value <= 10000000:
        return "1M-10M"
    elif value >= 10000000 and value <= 100000000:
        return "10M-100M"
    elif value >= 100000000 and value <= 1000000000:
        return "100M-1B"
    elif value > 1000000000:
        return "1B+"
    else:
        return np.nan

In [63]:
# Create 'Installs_Category' 
df['installs_category'] = df['installs'].apply(install_category_label)

In [64]:
# showing the counts for each category
df['installs_category'].value_counts()

installs_category
10-100      595604
100-1K      571275
0-10        432772
1K-10K      389527
10K-100K    180203
100K-1M      58678
1M-10M       12359
10M-100M      1308
100M-1B        115
1B+             12
Name: count, dtype: int64

**Free**

In [65]:
df["free"].unique()

array([ True, False])

#### - Create column `Type`

* Creataing the column type for free and paid Apps by using the Free column, it's helpfull while dealing with the paid and Free Apps

In [66]:
# creating type column
df['type'] = np.where(df['free'] == True,'Free','Paid')

In [67]:
df.isnull().sum()

app_name             0
category             0
rating               0
rating_count         0
installs             0
minimum_installs     0
maximum_installs     0
free                 0
price                0
currency             0
size_in_KB           0
released             0
last_updated         0
content_rating       0
ad_supported         0
in_app_purchases     0
price_in_usd         0
installs_category    0
type                 0
dtype: int64

### Data cleaning summary
What we have done till now:
- Drop the columns that are not important
- Clean the size column then convert it into float64. I also make a new column called size_in_MB
- Clean the installs column and convert it into Int
- Deal with inconsistency and Missing values
- Add a column installs_category based on installs

## 5.0 Analysis

**Questions**

1. Top 10 Rated Apps
2. All Category with number of apps and top 10 categories by installs?
3. How many individuals are observed to provide ratings or not, and for those who do, what is the most common rating?
4. Number of installed app, type wise according to each category?
5. Which is the percentage of Paid and Free apps?
6. Which Category has the highest Paid and Free apps?
7. What are the top 10 Categories that are installed from the Google Play Store ?
8. Which are the Categories that are getting installed the most in top 10 Categories?
9. What is the higest rated Category ?
10. Which Category has the highest Paid and Free apps ?
11. How does the size of the Application impacts the Installation ?
12. What are the Top 5 Paid Apps based With highest ratings and installs ?
13. What are the Top 5 Free Apps based With highest ratings and installs ?

In [69]:
top_rated_apps = df.sort_values(by='rating_count', ascending=False).head(10)[['app_name', 'rating', 'category']]

# Step 4: Print a message indicating that the following apps are the top 10 rated
print("Top 10 Rated Apps:")

Top 10 Rated Apps:

In [ ]:
# Step 5: Display the DataFrame containing the top-rated apps
top_rated_apps

In [70]:
df.head()

,app_name,category,rating,rating_count,installs,minimum_installs,maximum_installs,free,price,currency,size_in_KB,released,last_updated,content_rating,ad_supported,in_app_purchases,price_in_usd,installs_category,type
0,Gakondo,Adventure,0.0,0.0,10,10.0,15,True,0.0,USD,10240.0,2020-02-26,"Feb 26, 2020",Everyone,False,False,0.0,0-10,Free
1,Ampere Battery Info,Tools,4.4,64.0,5000,5000.0,7662,True,0.0,USD,2969.6,2020-05-21,"May 06, 2021",Everyone,True,False,0.0,1K-10K,Free
2,Vibook,Productivity,0.0,0.0,50,50.0,58,True,0.0,USD,3788.8,2019-08-09,"Aug 19, 2019",Everyone,False,False,0.0,10-100,Free
3,Smart City Trichy Public Service Vehicles 17UC...,Communication,5.0,5.0,10,10.0,19,True,0.0,USD,1843.2,2018-09-10,"Oct 13, 2018",Everyone,True,False,0.0,0-10,Free
4,GROW.me,Tools,0.0,0.0,100,100.0,478,True,0.0,USD,6348.8,2020-02-21,"Nov 12, 2018",Everyone,False,False,0.0,10-100,Free

## Top 10 Rated Apps

In [95]:
top_10_rated_apps = df.nlargest(10, df[['rating','rating_count']])

In [96]:
top_10_rated_apps

,app_name,category,rating,rating_count,installs,minimum_installs,maximum_installs,free,price,currency,size_in_KB,released,last_updated,content_rating,ad_supported,in_app_purchases,price_in_usd,installs_category,type
845049,STUDiLMU: Your One-stop Solution Learning Partner,Education,5.0,42908.0,100000,100000.0,167910,True,0.00,USD,20121.435744,2020-01-14,"Jun 14, 2021",Everyone,False,False,0.00,10K-100K,Free
391472,Crazy Fall,Casual,5.0,32370.0,10000,10000.0,37517,True,0.00,USD,14336.000000,2020-02-07,"Feb 07, 2020",Everyone,True,False,0.00,1K-10K,Free
771566,Calculator Plus,Productivity,5.0,23856.0,100000,100000.0,170485,False,2.99,USD,12288.000000,2012-10-04,"Jan 27, 2021",Everyone,False,False,2.99,10K-100K,Paid
252450,白沙屯媽祖 GPS 即時定位,Maps & Navigation,5.0,18839.0,100000,100000.0,249857,True,0.00,USD,4608.000000,2019-03-16,"Apr 14, 2021",Everyone,False,False,0.00,10K-100K,Free
609994,"Жәннат Фирдаус - Намаз, Құран оқуды үйрену",Education,5.0,18031.0,100000,100000.0,218442,True,0.00,USD,57344.000000,2019-11-28,"May 20, 2021",Everyone,False,False,0.00,10K-100K,Free
2134769,Last Bird Trip - Free Flappy Birdie Arcade Game,Arcade,5.0,12901.0,500000,500000.0,616587,True,0.00,USD,25600.000000,2021-03-09,"May 27, 2021",Everyone,False,False,0.00,100K-1M,Free
1479168,Hayalhanem,Education,5.0,11444.0,100000,100000.0,166266,True,0.00,USD,3276.800000,2015-02-15,"Dec 17, 2019",Everyone,False,False,0.00,10K-100K,Free
530856,21 Dias de Jejum (Jejum de Daniel),Education,5.0,10990.0,100000,100000.0,419068,True,0.00,USD,48128.000000,2017-08-13,"Apr 19, 2021",Everyone,True,True,0.00,10K-100K,Free
2149894,"꾸매영 (꾸준하게 매일 빡세게 영어): 무료로 영어공부, 영어회화로 영어스피킹, 영...",Education,5.0,10289.0,100000,100000.0,269971,True,0.00,USD,13312.000000,2017-06-25,"Mar 28, 2021",Teen,True,True,0.00,10K-100K,Free
1034070,Babel Novel - Fantastic Books & Webnovel Reading,Books & Reference,5.0,10181.0,1000000,1000000.0,1323485,True,0.00,USD,16384.000000,2019-11-14,"Jun 10, 2021",Mature 17+,False,True,0.00,100K-1M,Free